@model IEnumerable<Book>
@{
    ViewData["Title"] = "Books";
}

<div class="text-center">
    <h1>Books</h1>

    @if (Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Book</th>
                    <th>Author</th>
                    <th>Genre</th>
                    <th>Availability</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var book in Model)
                {
                    <tr>
                        <td>@book.Name</td>
                        <td>
                            @foreach (var author in book.Authors)
                            {
                                <span>@author.FirstName @author.LastName</span>
                            }
                        </td>
                        <td>
                            @foreach (var genre in book.Genres)
                            {
                                <span>@genre.Name</span>
                            }
                        </td>
                        <td>@book.Available / @book.Quantity</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Books not found</p>
    }
</div>