@using BAL.Services
@using Controller = Web.Controllers.Controller;
@model Client

@{
    var error = Controller.GetError(TempData);
}

@if (error != null)
{
    <p class="">@error.Message</p>
    return;
}

<div class="text-center">
    <div>
        <p>Client:</p>
        <h1>@Model.FirstName @Model.LastName</h1>
    </div>

    <div class="row">
        @if (@Model.Form.Books.Count != ClientsService.BOOKS_PER_CLIENT_LIMIT)
        {
            <div class="col-6">
                <h2>Add books</h2>
                <form method="post" action="/clients/@Model.Id/form">
                    <input name="id" placeholder="Book identifier" />
                    <button>Add</button>
                </form>
            </div>
        }

        <div class="col-6">
            <h2>Books</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Book</th>
                        <th>Authors</th>
                        <th>Genre</th>
                        <th>Availability</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var book in Model.Form.Books)
                    {
                        <tr>
                            <td>@book.Name</td>
                            <td>
                                @foreach (var author in book.Authors)
                                {
                                    <span>@author.FirstName @author.LastName</span>
                                }
                            </td>
                            <td>
                                @foreach (var genre in book.Genres)
                                {
                                    <span>@genre.Name</span>
                                }
                            </td>
                            <td>@book.Available / @book.Quantity</td>
                            <td>
                                <form method="post" action="/clients/@Model.Id/form/@book.Id">
                                    <button>Delete</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
